{% extends "rem/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load rules %}
{% load humanize %}
{% load number_filters %}
{% block title %} Payment Details {% endblock %}


{% block content %}

{{ form.errors}}
{{ rform.errors}}
<h4 class="element_margin">Payment Request Details</h4>
<div class="row justify-content-md-left">
  <div class="col-md-auto">
    <table class="table">
      <tbody>
        <tr>
          <td>Reference No.</td>
          <td>: {{object.reference}}</td>
        </tr>
        <tr>
          <td>Exchange House</td>
          <td>: {{ object.exchange }}</td>
        </tr>
        <tr>
          <td>Date and time</td>
          <td>: {{ object.date_create|date:'d/m/Y P' }}</td>
        </tr>


        <tr>
          <td>Benificiary Identification ( {{ object.receiver.idtype }} )</td>
          <td>: {{ object.receiver.idno }} [ <b>Issue Date:</b> {{ object.receiver.idissue }}, <b>Expiry Date:</b>
            {{ object.remittance.idexpire }}]</td>
        </tr>
        <tr>
          <td>Requested Posted by</td>
          <td>: {{ object.created_by }}, Branch: {{object.branch}}, Sub-branch: {{object.booth}}, Cell:
            {{ object.created_by.employee.cell }}</td>
        </tr>
        <tr>
          <td>Date of Birth of Benificiary</td>
          <td>: {{ object.receiver.dob }}</td>
        </tr>
        <tr>
          <td>Benificiary's cell No.</td>
          <td>: {{ object.receiver.cell }}</td>
        </tr>
        <tr>
          <td>Benificiary's Address</td>
          <td>: {{ object.receiver.address }}</td>
        </tr>
        <tr>
          <td>Relationship to Sender</td>
          <td>: {{ object.relationship }}</td>
        </tr>
        <tr>
          <td>Purpose of Transaction</td>
          <td>: {{ object.purpose }}</td>
        </tr>
        <tr>
          <td>Total Cash Incentive Amount</td>
          <td>: BDT {{ object.get_total_paid_cash_incentive_sum|comma_seperated_bangla }} (Total {{object.get_paid_cash_incentives_number}} cash incentives)</td>
        </tr>
        <tr>
          <td>Cash Incentive Status</td>
          <td>
            : {% for item  in object.get_paid_cash_incentives %}
                {{ item.get_entry_category_display}}
              {%endfor%}
            {% if object.date_cash_incentive_settlement %}
            (Settled on: {{object.date_cash_incentive_settlement}})
            {% else %}
            (Not Settled)
            {% endif %}
          </td>
        </tr>
        {% if object.payment and object.payment.screenshot.url != '' %}
        <tr>
          <td>Status</td>
          <td class="table-warning">: Payable to customer</td>
        </tr>
        {% elif object.status == 'RJ'%}
        <tr>
          <td>Status</td>
          <td class="table-danger">: Rejected</td>
        </tr>
        <tr>
          <td>Reason of Rejection/ Other Comments</td>
          <td class="table-info">: {{ object.comment}}</td>
        </tr>

        {% else %}
        {% endif %}
        <tr>
          <td>Remitting Country</td>
          <td>: <b>{{ object.rem_country }}</b></td>
        </tr>
        <tr>
          <td>Sender</td>
          <td>: <b>{{ object.sender }}</b></td>
        </tr>
        <tr>
          <td>Benificiary Name</td>
          <td>: <b><a href="{% url 'receiver-profile' object.receiver.pk %}"> {{ object.receiver.name }}</a></b></td>
        </tr>
        <tr>
          <td>Value</td>
          <td>:<b class="text-danger"> {{object.currency.short}} {{object.amount|comma_seperated_bangla}} ({{object.currency.short}} {{object.amount|number_to_word_bangla_style}})</b></td>
        </tr>
      </tbody>
    </table>
{% if object.exchange.name == 'SWIFT' %}
    <h4>Encashment Details</h4>
    <table class="table table-hover table-sm">
      <tbody>
        <thead>
          <th>Amount</th>
          <th>Rate Applied</th>
          <th>Encashment Amount (BDT)</th>
          <th>Cash Incentive Amount</th>
          <th>Account</th>
          <th>Action</th>
        </thead>
        {% for item in object.encashment_set.all %}
    
        <tr>
          <td>{{item.remittance.currency.short}} {{item.amount}}</td>
          <td>{{item.rate|floatformat:2}}</td>
          <td>{{ item.encashment_amount_in_bdt|floatformat:2 }}</td>
          <td>BDT {{ item.cashincentive.cash_incentive_amount }}
            {% if item.check_cash_incnetive_payment_status == "P" %}
              (Paid)
            {% endif %}
            {% if item.check_cash_incnetive_payment_status == "U" %}
              (To be Paid)
            {% endif %}
            {% if item.check_cash_incnetive_payment_status == "NA" %}
              (Not Applicable)
            {% endif %}
          </td>
          <td>{{ item.account}}</td>
          <td>
            {% if item.check_cash_incnetive_payment_status == "U" %}
            <a class="btn btn-primary" href="{% url 'pay_unpaid__encashment_incentive' item.pk %}"> Pay unpaid cash incentive </a>
            {% endif %}
          </td>
        </tr>
      </tbody>
      
      {% endfor %}
    </table>
  {% endif %}
  </div>
</div>

{% if object.requestpay_set.last.payment.agent_screenshot.url != '' %}
<p>Agent Copy: <br><img src='{{ object.requestpay_set.last.payment.agent_screenshot.url }}' class="img-fluid"><img></p>
{% endif %}


{% has_perm 'rem.can_mark_paid_remittance' user object as can_mark_paid %}
{% if can_mark_paid and object.check_unpaid_cash_incentive %}
<td><a class="btn btn-success" href="{% url 'pay_unpaid_incentive' object.pk %}"><i class="far fa-info-square"></i>Pay
    Cash Incentive</a></td>
{% endif %}
<div class="card">
  <div class="card-header">
    {% has_perm 'rem.view_trm_form' user object as can_view_trm_voucher %}
    {% if can_view_trm_voucher %}
    <a class="btn btn-primary" href="{% url 'download_trm' object.pk %}"> TRM Form </a>
    <a class="btn btn-primary" href="{% url 'download_voucher' object.pk %}"> Voucher </a>
    {% endif %}
    {% has_perm 'rem.can_view_cash_incentive_undertaking' user object as can_view_undertaking %}
    {% if can_view_undertaking %}
    <a class="btn btn-primary" href="{% url 'download_undertaking' object.pk %}"> Letter of Undertakig </a>
    {% endif %}
    {% has_perm 'rem.can_encash' user object as can_encash %}
    {% if can_encash %}
    <a class="btn btn-primary" href="{% url 'encashment-create-with-remittance' object.pk %}"> Encash </a>
    {% endif %}
  </div>
</div>
<br>
{% block payment_action %}{% endblock %}
{% endblock %}
