{% extends "rem/base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% block title %} Payment Details {% endblock %}
{% block content %}

{{ form.errors}}
{{ rform.errors}}
<h4 class="element_margin">Payment Request Details</h4>
<div class="row justify-content-md-left">
  <div class="col-md-auto">
    <table class="table">
      <tbody>
        <tr>
          <td>Reference No.</td>
          <td>: {{object.remittance.reference}}</td>
        </tr>
        <tr>
          <td>Value</td>
          <td>:<b class="text-danger"> BDT {{object.remittance.amount|intcomma }}</b></td>
        </tr>
        <tr>
          <td>Exchange House</td>
          <td>: {{ object.remittance.exchange }}</td>
        </tr>
        <tr>
          <td>Request date and time</td>
          <td>: {{ object.datecreate|date:'d/m/Y P' }}</td>
        </tr>
        <tr>
          <td>Remitting Country</td>
          <td>: <b>{{ object.remittance.rem_country }}</b></td>
        </tr>
        <tr>
          <td>Sender</td>
          <td>: <b>{{ object.remittance.sender }}</b></td>
        </tr>
        <tr>
          <td>Benificiary Name</td>
          <td>: <b>{{ object.remittance.receiver.name }}</b></td>
        </tr>
        <tr>
          <td>Benificiary Identification ( {{ object.remittance.receiver.idtype }} )</td>
          <td>: {{ object.remittance.receiver.idno }} [ <b>Issue Date:</b> {{ object.remittance.receiver.idissue }}, <b>Expiry Date:</b> {{ object.remittance.receiver.idexpire }}]</td>
        </tr>
        <tr>
          <td>Requested Posted by</td>
          <td>: {{ object.created_by }} Branch: {{object.remittance.branch}}</td>
        </tr>
        <tr>
          <td>Date of Birth of Benificiary</td>
          <td>: {{ object.remittance.receiver.dob }}</td>
        </tr>
        <tr>
          <td>Benificiary's cell No.</td>
          <td>: {{ object.remittance.receiver.cell }}</td>
        </tr>
        <tr>
          <td>Benificiary's Address</td>
          <td>: {{ object.remittance.receiver.address }}</td>
        </tr>
        <tr>
          <td>Relationship to Sender</td>
          <td>: {{ object.remittance.relationship }}</td>
        </tr>
        <tr>
          <td>Purpose of Transaction</td>
          <td>: {{ object.remittance.purpose }}</td>
        </tr>
        {% if object.payment and object.payment.screenshot.url != '' %}
        <tr>
          <td>Status</td>
          <td class="table-warning">: Payable to customer</td>
        </tr>
        {% elif object.status == 'RJ'%}
        <tr>
          <td>Status</td>
          <td class="table-danger">: Rejected</td>
        </tr>
        <tr>
          <td>Reason of Rejection/ Other Comments</td>
          <td class="table-info">: {{ object.comment}}</td>
        </tr>
        {% else %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% if object.payment and object.payment.agent_screenshot.url != '' %}
<p>Agent Copy: <br><img src='{{ object.payment.agent_screenshot.url }}' class="img-fluid"><img></p>
{% endif %}

{% if object.payment and object.payment.western_trm_screenshot.url != '' %}
<p>Pre Transaction Receipt: <br><img src='{{ object.payment.western_trm_screenshot.url }}' class="img-fluid"><img></p>
{% endif %}

{% if object.payment and object.payment.customer_screenshot.url != '' %}
<p>Customer Copy: <br><img src='{{ object.payment.customer_screenshot.url }}' class="img-fluid"><img></p>
{% endif %}

{% block payment_action %}{% endblock %}
{% endblock %}
