{% load static %}
{% load rules %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/fontawesome-free-5.2.0-web/css/all.min.css" %}">
  <link rel="stylesheet" href="{% static "css/login.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">

  <!-- Custom CSS for Dashboard -->
  <link rel="stylesheet" href="{% static "css/dashboard/dashboard.css" %}">

  <!-- Custom CSS for Dashboard -->
  <link rel="stylesheet" href="{% static "css/dashboard/dashboard.css" %}">
  {% comment %}
  <link rel="stylesheet" type="text/css" href="{% static "DataTables/css/jquery.dataTables.css" %}" />
  {% endcomment %}
  <style type="text/css">
    {% comment %}

    #body {
      background: #C2C2C2 !important;
    }

    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    {% endcomment %}

    body {
      background-image: "url({% get_media_prefix %}images/background.jpg" !important;
    }

    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    .container {
      background: #FFFFFF !important;
    }

    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>

  <style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }

      to {
        opacity: 1
      }
    }

    @keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }

      to {
        opacity: 1
      }
    }

    .chartjs-render-monitor {
      -webkit-animation: chartjs-render-animation 0.001s;
      animation: chartjs-render-animation 0.001s;
    }
  </style>


  <title>{% block title %}Welcome to Central Foreign Remittance Database{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Central Foreign Remittance Database</a>
    <form method="post" action="{% url 'search_remittance'%}">
      {% csrf_token %}
     <input class="form-control form-control-dark w-500" name="keyword" type="text" placeholder="Search" aria-label="Search">
    </form>
    
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{% url 'logout'%}">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href=#>
                <i data-feather="home"></i>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            {% has_perm 'rem.can_view_branch_options' user as can_view_branch_option %}
            {% if can_view_branch_option %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Branch Operations</span>
              <a class="d-flex align-items-center text-muted" href="#"></a>
            </h6>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'search_client'%}">
                <i data-feather="upload-cloud"></i>
                Submit Foreign Remittance Information
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_claim'%}">
                <i data-feather="upload-cloud"></i>
                Submit Incentive Claim
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'fbank-create'%}">
                <i data-feather="upload-cloud"></i>
                Add Foreign Bank
              </a>
            </li>
            {% endif %}
            {% has_perm 'rem.can_view_ho_options' user as can_view_ho_options %}
            {% if can_view_ho_options %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Head Office Operations</span>
              <a class="d-flex align-items-center text-muted" href="#"></a>
            </h6>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'change_client'%}">
                <i data-feather="user-check"></i>
                Change Receiver of Existing Remittance
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_rate'%}">
                <i data-feather="dollar-sign"></i>
                Add Exchange Rate
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mark_settle_all'%}">
                <i data-feather="layers"></i>
                Mark Settle (All)
              </a>
            </li>
            {% endif %}
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Reports</span>
            <a class="d-flex align-items-center text-muted" href="#"></a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'show_rem'%}">
                <i data-feather="file-text"></i>
                Remmittance List
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'show_claim'%}">
                <i data-feather="file-text"></i>
                List of Cash Incentive Claim against A/C Credit from Other Banks
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'summary'%}">
                <i data-feather="file-text"></i>
                Exchange House wise Summary Report (Remittance)
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cash_incentive_bb_statement'%}">
                <i data-feather="file-text"></i>
                Monthly Statement of Cash Incentive (BB Form Kha)
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'daily_remittance_bb'%}">
                <i data-feather="file-text"></i>
                T_ME_D_REMITTANCE (Daily Remittance RIT BB)
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'select_rem_list'%}">
                <i data-feather="file-text"></i>
                Remmittance Settlement Batch File Download
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'select-cash-incentive'%}">
                <i data-feather="file-text"></i>
                Cash Incentive Settlement Batch File Download
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'download_rit'%}">
                <i data-feather="file-text"></i>
                T_ME_M_REMIT_INCEN (Monthly Cash Incentive RIT BB)
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'rate_list'%}">
                <i data-feather="file-text"></i>
                Exchange Rate List
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="chartjs-size-monitor"
          style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
          <div class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        {% if message.level_tag == "info" %}
        <li class="alert alert-info" {% elif message.level_tag == "success" %} <li class="alert alert-success" {% elif message.level_tag == "warning" %} <li class="alert alert-warning" {% elif message.level_tag == "error" %} <li class="alert alert-danger"
          {% else %} <li class="alert alert-primary" {% endif %} role="alert">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% block content_title %}
          <!--<h1 class="h2">Dashboard</h1>-->
      {% endblock %}
          
        </div>
        {% block content %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Notice</h5>
            <h6 class="card-subtitle mb-2 text-muted">CFRD Transaction Time Change</h6>
            <p class="card-text">CFRD is open for remittance reporting from 09:30 AM to
              02:30 PM.</p>

          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Notice</h5>
            <h6 class="card-subtitle mb-2 text-muted">MoneyGram Payments Available Again</h6>
            <p class="card-text">You can process MoneyGram payments now like before from the URL: https://mg.nccbank.com.bd/mgca/apps/login  (also available in our Homepage)</p>

          </div>
        </div>
        {% endblock %}

       


  <!--  <script src="{%static "js/jquery-3.3.1.slim.min.js" %}"></script>-->
  <script src="{%static "js/jquery-1.7.2.min.js" %}"></script>
  <script src="{%static "js/jquery-ui.min.js" %}"></script>
  <script src="{%static "js/bootstrap.bundle.min.js" %}"></script>
  <script type="text/javascript" src="{%static "js/bootstrap.bundle.min.js" %}"></script>

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace()
  </script>


  {% comment %}
  <script type="text/javascript" src="{%static "DataTables/js/jquery.dataTables.js"" %}"></script>{% endcomment %}
  {% block js %}{% endblock %}

  <script>
    $(function () {
      $(".date").datepicker({
        dateFormat: "dd/mm/yy"
      });
      var relationship = [
        "Family",
        "Friend",
        "Business Associate",
        "Client",
        "Employee",
        "Employer",
        "Acquaintance",
      ];
      var purpose = [
        "Family Support",
        "Savings",
        "Loan Repayment",
        "Gift",
        "Freelancing Charges",
        "Investment",
        "Business Proceeds",
        "Donation",
        "Purchase of Goods",
        "Travel Expenses",
        "Education/Training",
        "Legal Obligation",
      ];
      $("#id_relationship").autocomplete({
        source: relationship,
        minLength: 0,
      });
      $("#id_purpose").autocomplete({
        source: purpose,
        minLength: 0,
      });
    });
  </script>
</body>

</html>