{%load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{%static "css/login.css" %}">
  <link rel="stylesheet" href="{%static "css/bootstrap/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{%static "css/fontawesome-free-5.2.0-web/css/all.min.css" %}">

  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">-->
  <title>{% block title %}Welcome to Central Foreign Remittance Database{% endblock %}</title>
</head>

<body id="LoginForm">
  <div class="container">
    <h1 class="form-heading"></h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Central Foreign Remittance Database</h2>
          <p>Please enter your Username and Password</p>
        </div>
        <form method="post" action="{% url 'login' %}" id="Login">
          {% csrf_token %}

          <div class="form-group">


            {% render_field form.username class="form-control" placeholder=form.username.label %}

          </div>

          <div class="form-group">

            {% render_field form.password class="form-control" placeholder=form.password.label %}

          </div>
          <div class="forgot">
            <a href="{% url 'password_reset' %}">Reset Password?</a>
          </div>
          <div class="forgot">
            <a href="{% url 'register' %}">Create User</a>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>

        </form>
      </div>

    </div>
  </div>
  </div>


</body>

</html>
