{% extends "rem/core_base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

{% comment %} <div class="row">
  <div class="col-md-10 offset-3">
    <h2>Sign up</h2>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-auto">
          <ul>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              <li>{{error}}</li>
            </div>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% for field in form %}
      <div class='form-row'>
        <div class="col-auto ">
          {{ field.label_tag }}<br>
          {{ field|add_class:"form-control" }}
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe }}</small>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
      <div class='form-row'>
        <div class="col-auto ">
        </div>
      </div>
      </p>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-sm mb-2">Sign up</button>
    </form>


  </div>
</div>{% endcomment %}
<div class="row justify-content-center">
  <form enctype="multipart/form-data" method="post">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Create a New User in CFRD</h5>
        <div class="card-body">
          {% csrf_token %}

          {% crispy form %}
        </div>


      </div>
    </div>
  </form>
</div>
{% endblock %}