{% extends "rem/base.html" %}
{% load widget_tweaks %}
{% block title %} Add/ Select Receiver {% endblock %}
{% block content %}

<form method="post" action="{% url 'add_client'%}">
  {% csrf_token %}
  <div class='form-row'>
      <div class="col-auto">
          {{form.name.label_tag}}
          {{form.name|add_class:"form-control"}}
          {% for error in form.name.errors %}
          <div class="alert alert-danger" role="alert">
              {{error}}
          </div>
          {% endfor %}
      </div>
      <div class="col-auto">
          {{form.cell.label_tag}}
          {{form.cell|add_class:"form-control"}}
          {% for error in form.cell.errors %}
          <div class="alert alert-danger" role="alert">
              {{error}}
          </div>
          {% endfor %}
      </div>
  </div>
  <div class='form-row'>
    <div class="col-auto">
        {{form.dob.label_tag}}
        {{form.dob}}
        {% for error in form.dob.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
  </div>
  <div class='form-row'>
    <div class="col-auto">
        {{form.address.label_tag}}
        {{form.address|add_class:"form-control"}}
        {% for error in form.address.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endfor %}
    </div>
  </div>
  <div class='form-row'>
      <div class="col-auto">
          {{form.idtype.label_tag}}
          {{form.idtype|add_class:"form-control"}}
          {{form.idtype.errors}}
      </div>
      <div class="col-auto">
          {{form.idtno.label_tag}}
          {{form.idno|add_class:"form-control"}}
          {{form.idno.errors}}
      </div>
    </div>
    <div class='form-row'>
      <div class="col-auto">
          {{form.idissue.label_tag}}
          {{form.idissue|add_class:"form-control"}}
          {{form.idissue.errors}}
      </div>
      <div class="col-auto">
          {{form.idexpire.label_tag}}
          {{form.idexpire|add_class:"form-control"}}
          {{form.idexpire.errors}}
      </div>
    </div>
  <div class='form-row'>
      <div class="col-auto">
          <button type="submit" class="btn btn-primary btn-sm mb-2">Create</button>
      </div>
  </div>
  </form>

{% endblock %}
