{% extends "rem/base.html" %}
{% load widget_tweaks %}
{% block title %} Remittance Entry {% endblock %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class=" offset-1">
            <div class="row">
                <div class="col">
                    {% block form_title %}
                    <br>
                    <h3> Remittance Entry </h3>
                    <br>
                    {% endblock%}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            <li>{{error}}</li>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        {% for error in form.exchange.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                        {{ form.exchange.label_tag}}
                        {{ form.exchange|add_class:"form-control col-md-10"}}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        {% for error in form.rem_country.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                        {{ form.rem_country.label_tag}}
                        {{ form.rem_country|add_class:"form-control col-md-10"}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        {% for error in form.reference.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                        {{ form.reference.label_tag}}
                        {{ form.reference|add_class:"form-control col-md-10"}}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        {% for error in form.sender.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                        {{ form.sender.label_tag}}
                        {{ form.sender|add_class:"form-control col-md-10"}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        {% for error in form.reciever.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                        {{ form.reciever.label_tag}}
                        {{ form.reciever|add_class:"form-control col-md-10"}}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        {% for error in form.amount.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                        {{ form.amount.label_tag}}
                        {{ form.amount|add_class:"form-control col-md-10"}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        {% for error in form.date.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                        {{ form.date.label_tag}}
                        {{ form.date|add_class:"form-inline"}}
                    </div>
                </div>
                <div class="col">
                    {% comment %}
                    <div class="form-group row">
                        {% for error in form.mode.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                        {% endfor %}
                        {{ form.mode.label_tag}}
                        {{ form.mode|add_class:"form-control col-md-10"}}
                    </div>
                    {% endcomment %}
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>

</form>
{% endblock %}
